.home {
  position: relative;
}

.banner img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.banner-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #ff7141;
  font-size: 2rem;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  width: fit-content;
}
